/* Import others CSS */
@import url(layouts.css);

/* Styles aplication */

.result-card {
  border-radius: 35px;
  color: var(--white);
  background-color: var(--light-slate-blue-bg);
}

.result-score {
  border: 1px solid;
  border-radius: 50%;
}

/*  */
.summary-score {
  border: 1px solid;
  border-radius: 10px;
}

.reaction h3{
  
}

.memory {
}

.verbal {
}

.visual {
}

.btn {
}
