/* Import others CSS */
@import url(layouts.css);

/* Results */
.result-card {
  border-radius: 35px;
  color: var(--white);
  background-color: var(--light-slate-blue-bg);
}

.result-score {
  transform: scale(1.4);
  border: 1px solid;
  border-radius: 50%;
}

.compliments {
  margin-top: 25px;
}

/* Summarys */
.reaction {
  border: 1px solid;
  color: var(--light-red);
}

.memory {
  border: 1px solid;
  color: var(--orangey-yellow);
  background-color: hsl(241, 81%, 99%);
}

.verbal {
  border: 1px solid;
  color: var(--green-teal);
  background-color: hsl(166, 100%, 99%);
}

.visual {
  border: 1px solid;
  color: var(--cobalt-blue);
  background-color: hsl(234, 85%, 99%);
}

.attribution {
  font-size: 17px;
  color: var(--dark-gray-blue);
  font-weight: 800;
}

.score-fixed {
  font-weight: initial;
  color: hsl(204, 8%, 76%);
}

.btn {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 5em;
  color: var(--white);
  background-color: var(--dark-gray-blue);
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;

  opacity: 1;
  outline: 0 solid transparent;
}

