/* Set variables colors */
:root {
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradientes */
  --light-slate-blue-bg: hsl(252, 100%, 67%);
  --light-royal-blue-bg: hsl(241, 81%, 54%);
  --violet-blue-circle: hsl(256, 72%, 46%, 1);
  --persian-blue-circle: hsl(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

/* Styles reset  */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/*  Import */
@font-face {
  font-family: Hanken Grotesk;
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

html,
body {
  height: 100vh;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-family: Hanken Grotesk;
  scroll-behavior: smooth;
}

/* Desktop layout */
#app {
  min-height: 50%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 35px;
}

.result-card {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.result-title {
  margin-bottom: 35px;
}

.result-score {
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-card {
  width: 50%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  border-radius: 0 35px 35px 0;
}

.summary-title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.summary-score div {
  height: 44px;
  margin: 8px 0 5px 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 8px;
}

/* Mobile layout */
@media (max-width: 576px) {
  #app {
    min-height: fit-content;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .result-card {
    width: 70%;
    padding: 20px;
    position: relative;
    top: 20px;
  }

  .summary-card {
    width: 70%;
  }
}
